# some comment, this should not count as an 'indirect' section for example ('indirect' must be 1st word in comment for it to count)
flake8  # some comment, also not 'indirect'
pytest
-r tests/extra-reqs.txt     # No-op, extra-reqs.txt brings nothing new

# Try referring to current folder
.
-e .
