[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

bandit = "*"
docutils = "*"
"flake8" = "*"
pytest = "*"
pytest-cov = "*"
wheel = "*"


[packages]



[requires]

