[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"
"flake8" = "*"
pytest-cov = "*"
docutils = "*"


[packages]



[requires]

python_version = "2.7"
