pytest-cov

# This req will not get abstracted, as we abstract 'install_requires' only
pytest==3.7.4 # abstract, this req will not get abstracted, as we abstract 'install_requires' only

# Will be auto-filled as-is, except for the `-e` part
-e https://example.com/d.git#egg=flake8
