-i https://somewhere.net/pypi/

flake8==3.7.9
pytest-cov<3.0.0
setuptools>=46.1
-e https://somewhere.com/foo.git#egg=click

# indirect, will be ignored due to being in an 'indirect' section
-e git+https://foo.com/test.git#egg=bar
