-i https://example.com/pypi/

setuptools==46.1.3
pytest-cov<3.0.0
-e https://example.com/a.git#egg=flake8

# indirect, will be ignored due to being in an 'indirect' section
-e git+https://example.com/b.git#egg=click

# Nested reqs won't be ignored, even though we are in an 'ignored' section
-r req2.txt
