-i https://somewhere.net/pypi/

1and1==1.8.1
1337<1.0.0
beautifulsoup4>=4.4.0
-e https://somewhere.com/foo.git#egg=wonka

# indirect, will be ignored due to being in an 'indirect' section
-e git+https://foo.com/test.git#egg=bar
