# This req will not get abstracted, as we abstract 'install_requires' only
1337
pytest==3.7.4 # abstract

# This one is a dupe (also mentioned in requirements.txt):
-e git+https://somewhere.com/foo.git#egg=wonka

# This one is new:
-e git+https://somewhere.com/test.git#egg=mytest
