chardet

# Unknown [] sections ignored
[:python_version < "3.7"]
requests

# URLs properly auto-filled as dependency_links
[foo]
-e git://a.b/c/p1.git#egg=runez
some-project @ https://a.b/c/p2.git@u/pp

# Folders taken as-is
file:///tmp/bar1
/tmp/bar2
