[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

"flake8" = ">=3.3.0,<4"
pytest = "*"
six = {version = "==1.11.0"}
unittest2 = {version = ">=1.0,<3.0", markers="python_version < '2.7.9'"}
"e1839a8" = {path = ".", editable = true}


[packages]

click = ">=6.7"


[requires]

python_version = "2.7"
