name: Release

on:
  push:
    tags:
      - "v[0-9]*"

jobs:
  publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write  # mandatory for trusted publishing
      contents: read

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: "3.13"

    - name: Configure git
      run: |
        git config --global user.name "GH-actions-bot"
        git config --global user.email "gh-actions-bot@noreply.github.com"

    - uses: astral-sh/setup-uv@v7
    - run: uvx --with tox-uv tox -e py,docs,style
    - run: uv build
    - uses: pypa/gh-action-pypi-publish@release/v1
