name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test py${{ matrix.python-version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Configure git
      run: |
        git config --global user.name "GH-actions-bot"
        git config --global user.email "gh-actions-bot@noreply.github.com"

    - uses: astral-sh/setup-uv@v7
    - run: uvx --with tox-uv tox -e py

    - uses: coverallsapp/github-action@v2
      with:
        file: .tox/test-reports/coverage.xml
        flag-name: python-${{ matrix.python-version }}
        parallel: true

  test-eol:
    name: Test py${{ matrix.python-version }} (EOL)
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.7"]  # Only one ancient python needed for test coverage...

    steps:
    - uses: actions/checkout@v6
    - uses: deadsnakes/action@v3.2.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Configure git
      run: |
        git config --global user.name "GH-actions-bot"
        git config --global user.email "gh-actions-bot@noreply.github.com"

    - uses: astral-sh/setup-uv@v7
    - run: uvx --with tox-uv tox -e py

    - uses: coverallsapp/github-action@v2
      with:
        file: .tox/test-reports/coverage.xml
        flag-name: python-${{ matrix.python-version }}
        parallel: true

  coveralls-finish:
    name: Finish Coveralls
    needs: [test, test-eol]
    runs-on: ubuntu-latest
    steps:
    - name: Finish parallel build
      uses: coverallsapp/github-action@v2
      with:
        parallel-finished: true

  linters:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: "3.14"

    - uses: astral-sh/setup-uv@v7
    - run: uvx --with tox-uv tox -e docs,style
